/*
 package.css 是为了将重复率高的代码集中起来管理，类似于css的 “var”。但是“var”无法做到js的动态修改，所以迟早会被抛弃。而通过类名，将css功能代码语义化，将大大缩短开发时间。
									公子熄  /20180905
 */
.ToHideScreenBar::-webkit-scrollbar {display:none}
.pcCenter{
	width:1421px;
	/*border:1px solid red!important;*/
	margin: 0 auto!important;
}
.projectListCenter{
	width:800px;
	/*border:1px solid red!important;*/
	margin: 0 auto!important;
}
.divCenter{
	margin:0 auto;
}
.flex1{
    flex:1;
    height:1px;
}
.displayFlex{
	display:flex;
}
.overflowAuto{
	overflow: auto;
}
.oneLineMoreHidden{
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.moreLineMoreHidden{
	overflow:hidden;
}
.lineHeight40{
	line-height:40px;
}
.floatLeft {float:left}
.floatRight {float:right}
.clearBoth{clear: both;}
.fontBold{
	font-weight: bold;
}
.space40px{
	height:40px;
	width:40px;
}
.space4px{
	height:4px;
	width:4px;
}
.space10px{
	height:10px;
	width:10px;
}
.space20px{
	height:20px;
	width:20px;
}
.space80px{
	height:80px;
	width:80px;
}
.space110px{
	height:110px;
	width:110px;
}
.space300px{
	height:300px;
}
.fontSizeSupMax{font-size:30px}
.fontDateColor{color:#cacaca}
.fontMoreColor{color:blue}
.fontNewsColor{color:#333}
.fontLogoSize{font-size:20px}
.pageTitle{font-size:30px;}
.footSubColor{
	color:#a1a1a1;
}
/* footer{width:100%} */
.footBackgro{
	background: #e8ecee;
}
.cursoPoin{
	cursor:pointer;
}
.textAlignLef{
	text-align:left;
}
.textAlignCen{
	text-align:center;
}
.textAlignRig{
	text-align: right;
}
/* 内边框 */
.borderInner{
	box-sizing: border-box;
	border:1px solid #207336;
}
.borderInner2{
	box-sizing: border-box;
	border-bottom:2px solid #207336;
}
.mainColor{
	color:#333;
}
.seColor2{
	color:#ccc;
}
.thColor{
	color:#999;
}
.UnMainBGColor{
	color:#fff;
}
.mainBGColor{
	background:#207336;
}
/* .listBar{
	
} */
.listBar:hover{
	color:#fff;
	background:#207336;
}
/*滑过有阴影*/
.hoverShown:hover{
	box-shadow:0 0 4px #000;
	/* border:1px solid rgb(0,0,0,1) */
}
.hoverBold:hover{
	font-weight: bold;
}